POETFOLIO_SECRET_KEY=dev-only-secret
POETFOLIO_PRODUCTION=False
POETFOLIO_ALLOWED_HOSTS=127.0.0.1,localhost
POETFOLIO_CSRF_TRUSTED_ORIGINS=http://127.0.0.1:8000,http://localhost:8000
POETFOLIO_DB_NAME=poetfolio_dev
POETFOLIO_DB_USER=poetfolio
POETFOLIO_DB_PASSWORD=devdevdev
POETFOLIO_DB_HOST=
USE_S3=FALSE
