POETFOLIO_SECRET_KEY: "REPLACE_ME"
POETFOLIO_PRODUCTION: "True"
POETFOLIO_ALLOWED_HOSTS: "wsp.ekiree.tech"
POETFOLIO_CSRF_TRUSTED_ORIGINS: "https://wsp.ekiree.tech"
POETFOLIO_DB_NAME: "poetfolio_prod"
POETFOLIO_DB_USER: "poetfolio"
POETFOLIO_DB_PASSWORD: "REPLACE_ME"
POETFOLIO_DB_HOST: ""
POETFOLIO_EMAIL_HOST: "REPLACE_ME"
POETFOLIO_EMAIL_USER: "REPLACE_ME"
POETFOLIO_EMAIL_PASSWORD: "REPLACE_ME"
USE_S3: "TRUE"
S3_BUCKET_NAME: "REPLACE_ME"
S3_BUCKET_ENDPOINT: "REPLACE_ME"
S3_ACCESS_KEY: "REPLACE_ME"
S3_SECRET_KEY: "REPLACE_ME"
BACKUP_BUCKET_NAME: "REPLACE_ME"
BACKUP_BUCKET_ENDPOINT: "REPLACE_ME"
BACKUP_ACCESS_KEY: "REPLACE_ME"
BACKUP_SECRET_KEY: "REPLACE_ME"
